{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<div class="container" style="border: 1px solid gray; border-radius: 4px; max-width: 400px; min-height: 300px;">
    <fieldset>
    <legend> Forgot password??</legend>
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-outline-info"> Reset Password</button>
    </form><br>
    <p>
        Enter the email you used to log in and we will send a confirmation email to your gmail.
    </p>
    </fieldset>
</div>
<br><br><br><br><br><br><br>
{% endblock content %}
