{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        {% if messages %}
          {% for message in messages%}
            <div class="alert alert-{{message.tags}}">
              {{message}}
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </main>

    <div style="padding: 5px; margin-left: 4px;">
        <fieldset>
            <legend class="mb-1">Personal Info</legend><hr/>
                <img class="square account-img" src="{{user.profile.image.url}}" width="300" height="350"><br><hr/>
                <h5 class="mr-2">Name: <strong>{{ user.profile.first_name }} {{ user.profile.last_name }}</strong></a></h5><br>
                <h5 class="mr-2">Email: <strong>{{user.email}}</strong></a></h5><br>
                <h5 class="mr-2">Bio:<br>{{ user.profile.bio }}</h5><hr/>
                <h5 class="mr-2">Address: {{ user.profile.current_location }}</h5><br><br>
                <button class="btn btn-outline-info" type="submit" style="min-width: 500px;">
                    <a href="{% url 'update-profile' %}" style="text-decoration: none; color: black">Update Profile</a>
                </button>

        </fieldset>
    </div><br>
<br><br>

{% endblock %}
